<mat-card style="margin: 20px;">
  <mat-card-title>Új Bajnokság Létrehozása</mat-card-title>
  <mat-card-content>
    <form [formGroup]="championshipForm">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Bajnokság neve</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Start dátum</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>

    <div style="margin-top: 20px;">
      <h3>Csapatok</h3>
      <div>Adj meg páros számú csapatot!</div>
      <br>
      <div *ngFor="let team of newTeams; let i = index" style="display: flex; align-items: center; margin-bottom: 10px;">
        <mat-form-field appearance="fill" style="flex: 1;">
          <mat-label>Csapat neve</mat-label>
          <input matInput [(ngModel)]="team.name" name="newTeamName{{i}}">
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeNewTeam(i)" style="margin-left: 5px;">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-stroked-button color="primary" (click)="addNewTeam()">Új csapat hozzáadása</button>
    </div>

    <div style="margin-top: 20px;">
      <button mat-raised-button color="primary" (click)="saveChampionship()">Mentés</button>
    </div>
  </mat-card-content>
</mat-card>
